:root {

  --darkest-color: #090a13;
  --dark-color: #181b23;
  --gray-color: #2f323a;
  --primary-color: #198bff;
  --secondary-color: #4ca5ff;
  --light-color: #525058;
  --lightest-color: #cbcace;

  --error-color: #e81123;

  --titlebar-bg-color: var(--dark-color);
  --titlebar-text-color: var(--lightest-color);
  --titlebar-border-bottom: 1px solid var(--darkest-color);

  --titlebar-tab-active-bg-color: var(--gray-color);
  --titlebar-tab-border-color: var(--darkest-color);

  --window-bg-color: var(--dark-color);
  --window-text-color: var(--lightest-color);
  --window-border: none;

}